<!-- Google Tag Manager (noscript) -->
<% if (typeof gtm !== 'undefined' && gtm.GTMEnabled) {%>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtm.GTMContainerID %>"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<%} %>
